:root {
  --dark: #121212;
  --dark1: #252525;
  --dark2: #2a2a2a;
}
body {
  padding: 0px;
  margin: 0px;
  height: 100vh;
  overflow: auto;
  background-color: #242424;
  color: #fff;
}
/* ///////////////////////////////////////////////// */
.d-flex {
  display: flex;
}
.fx-row {
  flex-direction: row;
}
.fx-col {
  flex-direction: column;
}

/* //////////////////////////////////////////////// */

#header {
  height: 64px;
  background-color: var(--dark1);
  display: flex;
  padding: 8px 32px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}

#header input {
  width: 100%;
  background-color: var(--dark);
  color: white;
  padding: 0.5rem 1rem;
  border: 3px solid var(--dark2);
  box-sizing: border-box;
  font-size: 1rem;
}

#nav {
  width: 225px;
  height: calc(100vh - 64px);
  background-color: var(--dark2);
  position: absolute;
  top: 0;
  left: 0;
}

#main {
  position: relative;
  margin-left: 225px;
  padding: 1.5rem 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
  row-gap: 2rem;
  box-sizing: border-box;
}

#main .image {
  background-color: var(--dark2);
  height: 200px;
}

@media screen and (max-width: 1180px) {
  #main {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 900px) {
  #nav {
    width: 64px;
  }
  #main {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 64px;
  }
}

@media screen and (max-width: 599px) {
  #header{
    padding: 8px 16px;
  }
  #header .search{
    flex: 1 1 100%;
    width: 80% !important;
  }
  #header .dots{
    display: none;

  }

  #header .logo-name{
    display: none;
  }

  #main {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 64px;
    padding: 1rem 1.5rem;
  }
}
